<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>steph_verinshome</name>
	<displayName><![CDATA[verins en home page]]></displayName>
	<version><![CDATA[1.0.0]]></version>
	<description><![CDATA[Ajouter des produits directement en page d\'acceuil]]></description>
	<author><![CDATA[Steph]]></author>
	<tab><![CDATA[front_office_features]]></tab>
	<is_configurable>1</is_configurable>
	<need_instance>1</need_instance>
</module>
